<template>

<div>
<div>
  <b-button v-b-modal.modal1>Launch demo modal</b-button>

  <!-- Modal Component -->
  <b-modal id="modal1" title="BootstrapVue">
     <b-carousel
       id="carousel1"
       style="text-shadow: 1px 1px 2px #333;"
       controls
       indicators
       background="#ababab"
       :interval="4000"
       img-width="1024"
       img-height="480"
       v-model="slide"
       @sliding-start="onSlideStart"
       @sliding-end="onSlideEnd"
     >
       <!-- Text slides with image -->
       <b-carousel-slide
         caption="First slide"
         text="Nulla vitae elit libero, a pharetra augue mollis interdum."
         img-src="https://picsum.photos/1024/480/?image=52"
       />

       <!-- Slides with custom text -->
       <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=54">
         <h1>Hello world!</h1>
       </b-carousel-slide>

       <!-- Slides with image only -->
       <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=58" />

       <!-- Slides with img slot -->
       <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
       <b-carousel-slide>
         <img
           slot="img"
           class="d-block img-fluid w-100"
           width="1024"
           height="480"
           src="https://picsum.photos/1024/480/?image=55"
           alt="image slot"
         />
       </b-carousel-slide>

       <!-- Slide with blank fluid image to maintain slide aspect ratio -->
       <b-carousel-slide caption="Blank Image" img-blank img-alt="Blank image">
         <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt
           a tincidunt eget, convallis vel est. Ut pellentesque ut lacus vel interdum.
         </p>
       </b-carousel-slide>
     </b-carousel>
  </b-modal>
</div>
</div>
</template>

<script>
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
