<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div class="container" >
        <a class="navbar-brand js-scroll-trigger" href="/">Sākumlapa</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
      </div>
    </nav>
      <header class="masthead text-center text-white d-flex">
          <div class="container my-auto">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                  <strong>Apģērbu adīšana</strong>
                </h1>
                <hr>
              </div>
              <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Piedāvājam iespēju pasūtīt adītus apģērbus!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Detalizētāka informācija</a>
              </div>
            </div>
          </div>
        </header>
</div>
</template>

<script>

export default {
  name: 'Zekes',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
