<template>
<div>
<Test></Test>
</div>
</template>

<script>
import Test from './components/Test.vue'
export default {
  name: 'app',
  components: {
     'Test':Test

  }
}
</script>

<style>
</style>
